<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>VISIT TOKYO</title>
        <meta name="viewport" content="width=device-width, intial-scale=1.0, shrink-to-fit=no">  
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">          
        <link href="/index.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    </head>
    <header>
        <img class="imageheadersize headerpadding"  src="/images/Header.png">
        <h1 class="fontcolor">TOP <em>ATTRACTIONS</em> IN TOKYO</h1>
        <h2 class="fontcolor">Discover what the largest metropolitan area in the world can offer!</h2>
    </header>
    <main>
        <a id="back2Top" title="Back to top" href="#">&#10148;</a>
        <body>
            <br>
            <br>
            <div id="navbar">
                <a class="link-a" href="/">HOME</a>
                <a class="link-a" href="#news">ABOUT</a>
                <a class="link-a" href="#contact">CONTACT</a>
                <a class="link-a" href="#contact">SHOP</a>
                <a class="link-a" href="/comment">COMMENT</a>
                <a class="link-a" href="/addplace">ADD PLACE</a>
            </div>
            <br>
            <br>
            <div class="flex">
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Imperial Palace.jpg" alt="Card Back">
                        <img src="/images/Imperial Palace A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Imperial Palace</h3>
                         <p>The Tokyo Imperial Palace (皇居 Kōkyo, literally "Imperial Residence") is the primary residence of the Emperor of Japan. It is a large park-like area located in the Chiyoda ward of Tokyo and contains buildings including the main palace (宮殿 Kyūden), the private residences of the Imperial Family, an archive, museums and administrative offices.          
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/palace"><button type="button" class="button">Explore more</button></a>
                    </div>
                </div> 
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Ginza.jpg" alt="Card Back">
                        <img src="/images/Ginza A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Ginza</h3>
                        <p>Ginza (銀座, "Silver Mint") is a district of Chūō, Tokyo, located south of Yaesu and Kyōbashi, west of Tsukiji, east of Yūrakuchō and Uchisaiwaichō, and north of Shinbashi. It is a popular upscale shopping area of Tokyo, with numerous internationally renowned department stores, boutiques, restaurants and coffeehouses located in its vicinity. It is considered one of the most expensive, elegant, and luxurious streets in the world.          
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Ginza.html"><button type="button" class="button">Explore more</button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Sensoji Temple.jpeg" alt="Card Back">
                        <img src="/images/Sensoji Temple A.jpeg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Senso-ji Temple</h3>
                        <p>Sensō-ji (金龍山浅草寺 Kinryū-zan Sensō-ji) is an ancient Buddhist temple located in Asakusa, Tokyo, Japan. It is Tokyo's oldest temple, and one of its most significant. Formerly associated with the Tendai sect of Buddhism, it became independent after World War II. Adjacent to the temple is a five-story pagoda, Shinto shrine, the Asakusa Shrine, as well as many shops with traditional goods in the Nakamise-dōri.
                       </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>            
                </div> 
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/National Museum.jpg" alt="Card Back">
                        <img src="/images/National Museum A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>National Museum of Nature and Science</h3>
                        <p>The National Museum of Nature and Science (国立科学博物館 Kokuritsu Kagaku Hakubutsukan) is in the northeast corner of Ueno Park in Tokyo. Opened in 1871, it has had several names, including Ministry of Education Museum, Tokyo Museum, Tokyo Science Museum, the National Science Museum of Japan, and the National Museum of Nature and Science as of 2007.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>               
                </div>
            </div>
            <div class="flex">
                <div class="card center">
                    <div class="card-image carda">
                        <img src="/images/Ueno Park.jpg" alt="Card Back">
                        <img src="/images/Ueno Park A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Ueno Park and Zoo</h3>
                        <p>Ueno Park (上野公園 Ueno Kōen) is a spacious public park in the Ueno district of Taitō, Tokyo, Japan. The park was established in 1873 on lands formerly belonging to the temple of Kan'ei-ji. Amongst the country's first public parks, it was founded following the western example as part of the borrowing and assimilation of international practices that characterizes the early Meiji period.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>                  
                </div>
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Tokyo Museum.jpg" alt="Card Back">
                        <img src="/images/Tokyo Museum A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Tokyo National Museum</h3>
                        <p>The Tokyo National Museum (東京国立博物館 Tōkyō Kokuritsu Hakubutsukan), or TNM, established in 1872, is the oldest Japanese national museum, the largest art museum in Japan and one of the largest art museums in the world. The museum collects, houses, and preserves a comprehensive collection of art works and archaeological objects of Asia, focusing on Japan.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>                
                </div>
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Tokyo Skytree.jpeg" alt="Card Back">
                        <img src="/images/Tokyo Skytree A.jpeg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Tokyo Skytree</h3>
                        <p>Tokyo Skytree (東京スカイツリー Tōkyō Sukaitsurī) is a broadcasting, restaurant, and observation tower in Sumida, Tokyo, Japan. It became the tallest structure in Japan in 2010 and reached its full height in March 2011, making it the tallest tower in the world and the second tallest structure in the world after the Burj Khalifa.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>                 
                </div>
                <div class="card">
                    <div class="card-image carda">
                            <img src="/images/Shibuya.jpg" alt="Card Back">
                            <img src="/images/Shibuya A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Shibuya</h3>
                        <p>Shibuya (渋谷区 Shibuya-ku), literally "Astringent Valley", is a special ward in Tokyo, Japan. A major commercial and business center, it houses the two busiest railway stations in the world, Shinjuku Station (southern half) and Shibuya Station.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>                 
                </div>
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Tokyo Tower.jpg" alt="Card Back">
                        <img src="/images/Tokyo Tower A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Tokyo Tower</h3>
                        <p>Tokyo Tower (東京タワー Tōkyō tawā, officially called 日本電波塔 Nippon denpatō "Japan Radio Tower") is a communications and observation tower in the Shiba-koen district of Minato, Tokyo, Japan. At 332.9 metres (1,092 ft), it is the second-tallest structure in Japan. The structure is an Eiffel Tower-inspired lattice tower that is painted white and international orange to comply with air safety regulations.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>                
                </div>
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Akihabara.jpg" alt="Card Back">
                        <img src="/images/Akihabara A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Akihabara</h3>
                        <p>Akihabara (秋葉原) is a common name for the area around Akihabara Station in the Chiyoda ward of Tokyo, Japan. Administratively, the area called Akihabara mainly belongs to the Sotokanda (外神田) and Kanda-Sakumachō districts in Chiyoda. There exists an administrative district called Akihabara in the Taitō ward further north of Akihabara Station, but it is not the place people generally refer to as Akihabara.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Ikebukuro.jpg" alt="Card Back">
                        <img src="/images/Ikebukuro A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Ikebukuro</h3>
                        <p>Ikebukuro (池袋) is a commercial and entertainment district in Toshima, Tokyo, Japan. Toshima ward offices, Ikebukuro station, and several shops, restaurants, and enormous department stores are located within city limits.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image carda">
                        <img src="/images/Odaiba.jpg" alt="Card Back">
                        <img src="/images/Odaiba A.jpg" class="img-top" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>Odaiba</h3>
                        <p>Odaiba (お台場) is a large artificial island in Tokyo Bay, Japan, across the Rainbow Bridge from central Tokyo. It was initially built for defensive purposes in the 1850s, dramatically expanded during the late 20th century as a seaport district, and has developed since the 1990s as a major commercial, residential and leisure area.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>
                </div>
            </div> 
        <hr class="hr">
        <h1 class="fontcolor">PLACES OUR USERS HAVE ADDED</h1>
            <div class="flex">
                <for(userplace in input.userplaces)>
                <div class="card">
                    <div class="card-image carda">
                        <img src="${userplace.image1}" class="imagecardsize" onerror="this.src='/images/LocationDefault.png'" alt="Card Back">
                        <img src="${userplace.image2}" class="img-top imagecardsize" onerror="this.src='/images/LocationDefault.png'" alt="Card Front">
                    </div>
                    <div class="card-body">
                        <h3>${userplace.placename}</h3>
                        <p>${userplace.description}</p>
                    </div>
                    <div class="card-footer">
                        <a href="Sensoji.html"><button type="button" class="button">Explore more</button></a>
                    </div>
                </div>
                </for>  
            </div>
        </body>
    </main> 
    <footer>
        <br>
        <br>
        <p class="fontcolor">All Rights Reserved</p>
        <!-- <div class="center">
            <span class="dot"><img class="email"  src="/images/email.svg"></span>
            <span class="dot"><img class="email"  src="/images/fb.svg"></span>
            <span class="dot"><img class="email"  src="/images/twitter.png"></span>
            <span class="dot"><img class="email"  src="/images/instagram.svg"></span>
        </div> -->
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script src="/navbar.js"></script>
    <script src="/backtotop.js"></script>
</html>